/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nanjalaruth/hlatyping -profile test
 */

params {
  project_name            = 'test_run'
  project_description     = 'A simple hla typing run distributed with git repo'
  outDir                  = './output' // outDir: where to put all pipeline's outputs
  help                    = false
  max_memory = 50.GB
  max_cpus = 5
  max_time = 48.h
  seqtype = 'dna'
  bam = false
  single_end = true

  // Study datasets
  input = "https://github.com/nanjalaruth/HLA-typing/raw/main/raw_testdata/SRR4012402.fastq"

  // Reference genome used for QC
  // reference_genome  = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta"

  // HLA version 2 database
  hla_ref = "https://raw.githubusercontent.com/nanjalaruth/HLA-typing/main/hla_all_v2.fasta"
  hla_txt_file = "https://raw.githubusercontent.com/nanjalaruth/HLA-typing/main/Allelelist_v2.txt"

  // Email
  email = ''

}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_hlatyping_timeline.html"
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_hlatyping_report.html"
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_hlatyping_trace.txt"
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_hlatyping_dag.png"
}

process {
// Process-specific resource requirements
  withLabel: 'medium' {
    // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
    memory = 1.GB
  }
  withLabel : 'bigmem' {
    // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
    memory = 1.GB
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} "
  }
  slurm {
    queueSize = 10
  }
  test {
    queueSize = 10
  }
}
